{% extends 'blog/layout.html' %}

{% block content %}

{% if look %}
					<form action="/input" method="post">
						{% csrf_token %}
						<span style="font-weight: bold">Imie: </span>
						<input type="text" name="name" value="" /><br />
						<span style="font-weight: bold">Wiek: </span>
						<input type="number" name="age" value="" /><br />
						<input type="submit" name="submit" value="Wyslij">
					</form>
					{% if message %}
						<div class="well">
							<p>{{ messagetext }}</p>
						</div>
					{% endif %}
{% else %}
                    <div class="jumbotron">
                        <h2>Element dodany poprawnie</h2>
                        <img src="/static/img/ok.png" alt="error" />
                    </div>
{% endif %}


{% endblock %}
