<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My new Application</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/static/css/style-ajango.css" />
        <link rel="shortcut icon" href="/static/favicon.ico" />
    </head>
    <body>
         <nav class="navbar navbar-static-top navbar-dark bg-inverse">
            <a class="navbar-brand" href="/index">blog</a>
            <ul class="nav navbar-nav">
                
                <li class="nav-item">
                    <a class="nav-link" href="/index">strona glowna</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/list">pracownicy</a>
                </li>
                
                <li class="nav-item">
					<a class="nav-link" href="/input">nowy pracownik</a>
                </li>
            </ul>
        </nav>
        <div class="container theme-showcase" role="main">
            <div class="page-header">
				<h1><a href="/">{{ title }}</a></h1>
            </div>
            <div class="content container">
                <div class="row">
                      
				{% block content %}

				{% endblock %}

                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Aplikacja testowa.</p>
            </div>
        </footer>
    </body>
</html>
