{% extends 'blog/layout.html' %}

{% block content %}

<table class="table">
    <thead><tr>
    {% for elem in tableheaders %}
        <th>{{ elem }}</th>
    {% endfor %}

    {% for line in datarows %}
        <tr>
        {% for elem in line %}
			<td>{{ elem }}</td>
        {% endfor %}
			<td><a class="btn btn-primary" href="/position?id={{ line|first }}" role="button">wejdz</a></td>
        </tr>
    {% endfor %}
    </tr></thead>
</table>

{% endblock %}

