{% extends 'blog/layout.html' %}

{% block content %}

{% if result %}
    {% for elem in tabledata %}
    <div><span style="font-weight: bold">{{ elem.label }}: </span>{{ elem.res }}</div>
    {% endfor %}
{% else %}
                    <div class="jumbotron">
                        <h2>Brak elementow do wyswietlenia</h2>
                        <img src="/static/img/no_elem.png" alt="error" />
                    </div>
{% endif %}

{% endblock %}
